.App {
  text-align: center;
  margin: 0;
}
.header{
  display: block;
  width: 100%;
  background-color: rgb(255, 234, 221);
  margin-top: -0.5%;
  margin-bottom: 2%;
  padding: 0.8rem;
  border-bottom: 2px solid darkorange;
}
.container{
  display: flex;
}
.col1{
  width: 40%;
  
}
.col2{
  width: 60%;
  
}